@page "/BasicRESTServices"
@inherits GUI.Pages.BasicRESTServicesCodeBehind
<h2>Basic REST Service from ServiceStack</h2>


@if (@InitializationRspDTO == null)
{
    <p>Loading (Calling onInitAsync)</p>
}
else
{
    <!-- region Demo01 code-->
    <div>
        <label for="DataToPost">@labelForDataToPost</label>
        <input type="text" class="form-control" id="DataToPost" bind="@dataToPost" />
    </div>
    <div>
        <label for="DataReceivedFromPost">@labelForDataReceivedFromPost</label>
        <input type="text" class="form-control" id="DataReceivedFromPost" bind="@dataReceivedFromPost" />
    </div>
    <button type="button" class="btn btn-default" onclick="@PostData">@labelForPostDataDataButton</button>
    <hr />
    <p>@rspPostDataDumpText @rspPostDataDump </p>
    <!-- endregion Demo01 code-->
    <!-- region Demo02 and Demo03 code -->
    <div>
        <label for="ComplexDataStringData">@labelForComplexDataStringData</label>
        <input type="text" class="form-control" id="ComplexDataStringData" bind="@reqComplexData.StringData" />
        <label for="ComplexDataDateTimeData">@labelForComplexDataDateTimeData</label>
        <input type="text" class="form-control" id="ComplexDataDateTimeData" bind="@reqComplexData.DateTimeData" />
        <label for="ComplexDataIntData">@labelForComplexDataIntData</label>
        <input type="text" class="form-control" id="ComplexDataIntData" bind="@reqComplexData.IntData" />
        <label for="ComplexDataDoubleData">@labelForComplexDataDoubleData</label>
        <input type="text" class="form-control" id="ComplexDataDoubleData" bind="@reqComplexData.DoubleData" />
        <label for="ComplexDataDecimalData">@labelForComplexDataDecimalData</label>
        <input type="text" class="form-control" id="ComplexDataDecimalData" bind="@reqComplexData.DecimalData" />
        <p>@reqComplexDataDumpText @reqComplexDataDump </p>
    </div>
    <button type="button" class="btn btn-default" onclick="@PostComplexDataAsString">@labelForPostComplexDataAsStringButton</button>
    <button type="button" class="btn btn-default" onclick="@PostComplexDataDictionaryAsString">@labelForPostComplexDataDictionaryAsStringButton</button>
    <p>@rspComplexDataAsStringDumpText @rspComplexDataAsStringDump </p>
    <p>@rspComplexDataAsStringDTODumpText @rspComplexDataAsStringDTODump </p>
    <p>@rspComplexDataDumpText @rspComplexDataDump </p>
    <p>@rspComplexDataDictionaryAsStringDumpText @rspComplexDataDictionaryAsStringDump </p>
    <p>@rspComplexDataDictionaryAsStringDTODumpText @rspComplexDataDictionaryAsStringDTODump </p>
    <!-- endregion Demo02 code -->
    <hr />
    <!-- region Demo03 code -->
    <button type="button" class="btn btn-default" onclick="@PostComplexDataAsObject">@labelForPostComplexDataDataAsObjectButton</button>
    <p>@rspComplexDataAsObjectDumpText @rspComplexDataAsObjectDump </p>
    <p>@rspComplexDataAsObjectDTODumpText @rspComplexDataAsObjectDTODump </p>
    <p>@rspComplexDataDictionaryAsObjectDumpText @rspComplexDataDictionaryAsObjectDump </p>
    <p>@rspComplexDataDictionaryAsObjectDTODumpText @rspComplexDataDictionaryAsObjectDTODump </p>
    <!-- endregion Demo03 code -->
}

