@page "/BasicRESTServices"
@inherits GUI.Pages.BasicRESTServicesCodeBehind
<h2>Demonstrate ServiceStack clients</h2>


@if (@InitializationRspDTO == null)
{
    <p>Loading (Calling onInitAsync)</p>
}
else
{
    <div>
        <label for="DataToPost">@labelForDataToPost</label>
        <input type="text" class="form-control" id="DataToPost" bind="@DataToPost" />
    </div>
    <div>
        <label for="DataReceivedFromPost">@labelForDataReceivedFromPost</label>
        <input type="text" class="form-control" id="DataReceivedFromPost" bind="@DataReceivedFromPost" />
    </div>
    <button type="button" class="btn btn-primary" onclick="async () => await PostData()">@labelForPostDataDataButton</button>

}

