@page "/BasicRESTServices"
@inherits GUI.Pages.BasicRESTServicesCodeBehind
<h2>Basic REST Service from ServiceStack</h2>


@if (@InitializationRspDTO == null)
{
    <p>Loading (Calling onInitAsync)</p>
}
else
{
    <!-- region Demo01 code-->
    <hr />
    <p>@textForDemo1Area</p>
    <div>
        <label for="DataToPost">@labelForDataToPost</label>
        <input type="text" class="form-control" id="DataToPost" bind="@DataToPost" />
    </div>
    <div>
        <label for="DataReceivedFromPost">@labelForDataReceivedFromPost</label>
        <input type="text" class="form-control" id="DataReceivedFromPost" bind="@DataReceivedFromPost" />
    </div>
    <button type="button" class="btn btn-primary" onclick="@PostData">@labelForPostDataDataButton</button>
    <hr />
    <p>@rspPostDataDumpText @rspPostDataDump </p>
    <!-- endregion Demo01 code-->
    <!-- region Demo02 code -->
    <div>
        <label for="ComplexDataStringData">@labelForComplexDataStringData</label>
        <input type="text" class="form-control" id="ComplexDataStringData" bind="@reqComplexData.StringData" />
        <label for="ComplexDataDateTimeData">@labelForComplexDataDateTimeData</label>
        <input type="text" class="form-control" id="ComplexDataDateTimeData" bind="@reqComplexData.DateTimeData" />
        <label for="ComplexDataIntData">@labelForComplexDataIntData</label>
        <input type="text" class="form-control" id="ComplexDataIntData" bind="@reqComplexData.IntData" />
        <label for="ComplexDataDoubleData">@labelForComplexDataDoubleData</label>
        <input type="text" class="form-control" id="ComplexDataDoubleData" bind="@reqComplexData.DoubleData" />
        <label for="ComplexDataDecimalData">@labelForComplexDataDecimalData</label>
        <input type="text" class="form-control" id="ComplexDataDecimalData" bind="@reqComplexData.DecimalData" />
        <p>@reqComplexDataDumpText @reqComplexDataDump </p>
        <p>@reqComplexDataAsStringDTODumpText @reqComplexDataAsStringDTODump </p>
    </div>
    <button type="button" class="btn btn-primary" onclick="@PostComplexDataAsString">@labelForPostComplexDataAsStringButton</button>
    <button type="button" class="btn btn-primary" onclick="@PostComplexDataDictionaryAsString">@labelForPostComplexDataDictionaryAsStringButton</button>
    <hr />
    <p>@rspComplexDataAsStringDumpText @rspComplexDataAsStringDump </p>
    <p>@rspComplexDataDictionaryAsStringDumpText @rspComplexDataDictionaryAsStringDump </p>
    <!-- endregion Demo02 code -->
}

