@page "/BasicRESTServices"
@inherits GUI.Pages.BasicRESTServicesCodeBehind
<h2>Basic REST Service from ServiceStack</h2>


@if (@InitializationRspDTO == null)
{
    <p>Loading (Calling onInitAsync)</p>
}
else
{
    <!-- region Demo01 code-->
    <hr />
    <p>@textForDemo1Area</p>
    <div>
        <label for="DataToPost">@labelForDataToPost</label>
        <input type="text" class="form-control" id="DataToPost" bind="@DataToPost" />
    </div>
    <div>
        <label for="DataReceivedFromPost">@labelForDataReceivedFromPost</label>
        <input type="text" class="form-control" id="DataReceivedFromPost" bind="@StringDataObjectReceivedFromPost" />
    </div>
    <button type="button" class="btn btn-primary" onclick="@PostSimpleData">@labelForPostDataDataButton</button>
    <hr />
    <p>@rspSimpleDataRspDTODumpText @RspSimpleDataRspDTODumped </p>
    <!-- endregion Demo01 code-->
    <!-- region Demo02 code -->
<div>
    <label for="ComplexDataStringData">@labelForComplexDataStringData</label>
    <input type="text" class="form-control" id="ComplexDataStringData" bind="@ComplexDataP.StringData" />
    <label for="ComplexDataDateTimeData">@labelForComplexDataDateTimeData</label>
    <!-- <input type="text" class="form-control" id="ComplexDataDateTimeData" bind="@ComplexDataP.DateTimeData" /> -->
    <label for="ComplexDataIntData">@labelForComplexDataIntData</label>
    <input type="text" class="form-control" id="ComplexDataIntData" bind="@ComplexDataP.IntData" />
    <label for="ComplexDataDoubleData">@labelForComplexDataDoubleData</label>
    <input type="text" class="form-control" id="ComplexDataDoubleData" bind="@ComplexDataP.DoubleData" />
    <label for="ComplexDataDecimalData">@labelForComplexDataDecimalData</label>
    <input type="text" class="form-control" id="ComplexDataDecimalData" bind="@ComplexDataP.DecimalData" />
    <p>@complexDataDumpText @ComplexDataDumped </p>
</div>
    <button type="button" class="btn btn-primary" onclick="@PostComplexDataAsString">@labelForPostComplexDataAsStringButton</button>
    <button type="button" class="btn btn-primary" onclick="@PostComplexDataDictionaryAsString">@labelForPostComplexDataDictionaryAsStringButton</button>
    <hr />
    <p>@reqComplexDataDumpedText @ReqComplexDataDumped </p> <br/>
    <p>@reqComplexDataAsStringDumpedText @ReqComplexDataAsStringDumped </p><br />
    <p>@reqComplexDataAsStringReqDTODumpedText @ReqComplexDataAsStringReqDTODumped </p><br />
    <p>@rspComplexDataAsStringRspDTODumpedText @RspComplexDataAsStringRspDTODumped </p><br />
    <p>@rspComplexDataAsStringDumpedText @RspComplexDataAsStringDumped </p><br />
    <p>@rspComplexDataDumpedText @RspComplexDataDumped </p><br />
    <!--<p>@rspComplexDataDictionaryAsStringDumpText @rspComplexDataDictionaryAsStringDump </p>-->
    <!-- endregion Demo02 code -->
}

