@page "/BasicRESTServices"
@inherits GUI.Pages.BasicRESTServicesCodeBehind
<h2>Basic REST Service from ServiceStack</h2>


@if (@InitializationRspDTO == null)
{
<p>Loading (Calling onInitAsync)</p>
}
else
{
<div>
    <label for="DataToPost">@labelForDataToPost</label>
    <input type="text" class="form-control" id="DataToPost" bind="@dataToPost" />
</div>
<div>
    <label for="DataReceivedFromPost">@labelForDataReceivedFromPost</label>
    <input type="text" class="form-control" id="DataReceivedFromPost" bind="@dataReceivedFromPost" />
</div>
<button type="button" class="btn btn-default" onclick="@PostData">@labelForPostDataDataButton</button>
}

