@page "/"
@page "/index.html"
@inherits GUI.Pages.IndexCodeBehind
@using  Microsoft.Extensions.Logging

<h1>A Blazor GUI served by ServiceStack Middleware in a .Net Core 3.0 WebHost.</h1>
<h2>The server WebHost</h2>
<p>The server in this demo uses either a Kestrel WebHost or an Integrated IIS InProcess WebHost. The choice is made at the server startup runtime via an environment variable `BlazorDemos_WebHostBuilder`</p>
<h2>GUI changes</h2>
<p>This demo implements storing state data in the browser local storage to persist the value of the Property on this page.</p>
<h2>Developer tools</h2>
<p>Having the browser's Developer Tools window open, showing the Console window, will display the logging message from the GUI in the Console window. Refer to Demo02 for more details.</p>
<h2>Demo's point</h2>
<p>The addition of timers to the GUI, and having the timers interact with the page's state</p>

<p>AnIntegerProperty backed by State: <text id="AnIntegerPropertyTextSpan" style="@AnIntegerPropertyTextStyle" >@AnIntegerProperty</text></p>

<button name="IncrementAnIntegerProperty" id="IncrementAnIntegerProperty"
        class="@IncrementAnIntegerPropertyButtonClass" 
        style="@IncrementAnIntegerPropertyButtonStyle" 
        @onclick="@IncrementAnIntegerPropertyButtonHandlerCurrent">
    @IncrementAnIntegerPropertyButtonText
</button>

<br />
<h4>Attribution and Further Reading</h4>
<p>@StringConstants.ThirdPartyLinkCautionMessage</p>
<ol>
    <li><a href="https://github.com/Blazored/LocalStorage">
    Blazored LocalStorage
</a></li>
</ol>
